packs/P3.2/WORKFLOWS/content_capture_v1.json
{
  "name": "Content Capture v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wos/intent/content_capture_v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "content-capture-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract creator information directly from URL (no page fetch needed)\nconst url = $input.item.json.body.url;\nconst userNotes = $input.item.json.body.notes || '';\n\n// Initialize creator data\nlet creator = {\n  url: url,\n  name: '',\n  email: '',\n  company: '',\n  platform: '',\n  contact_method: 'DM',\n  notes: `Captured from: ${url}`,\n  user_notes: userNotes\n};\n\n// Detect platform and extract info from URL\nif (url.includes('twitter.com') || url.includes('x.com')) {\n  creator.platform = 'Twitter/X';\n  creator.contact_method = 'Twitter DM';\n  const handleMatch = url.match(/(?:twitter\\.com|x\\.com)\\/([^\\/\\?]+)/);\n  if (handleMatch) {\n    creator.name = '@' + handleMatch[1];\n  }\n  \n} else if (url.includes('instagram.com')) {\n  creator.platform = 'Instagram';\n  creator.contact_method = 'Instagram DM';\n  \n  // Extract handle from URL\n  let handleMatch = url.match(/instagram\\.com\\/([a-zA-Z0-9._]+)(?:\\/|\\?|$)/);\n  if (handleMatch && handleMatch[1] !== 'p' && handleMatch[1] !== 'reel' && handleMatch[1] !== 'stories') {\n    creator.name = '@' + handleMatch[1];\n  } else if (url.includes('/p/') || url.includes('/reel/')) {\n    creator.platform = 'Instagram (Post)';\n    const postIdMatch = url.match(/\\/(?:p|reel)\\/([^\\/\\?]+)/);\n    creator.name = `IG Post - ${postIdMatch ? postIdMatch[1].substring(0, 15) : 'Unknown'}`;\n    creator.notes = `⚠️ POST URL CAPTURED\\n\\nTo get the creator handle:\\n1. Open this post in Instagram\\n2. Tap on the username at the top\\n3. Share the PROFILE URL (not post)\\n\\n` + creator.notes;\n  }\n  \n} else if (url.includes('youtube.com') || url.includes('youtu.be')) {\n  creator.platform = 'YouTube';\n  creator.contact_method = 'YouTube Comment/Email';\n  \n  // Extract channel handle from URL if present\n  const handleMatch = url.match(/youtube\\.com\\/@([^\\/\\?]+)/);\n  if (handleMatch) {\n    creator.name = '@' + handleMatch[1];\n  } else if (url.includes('/watch?v=') || url.includes('youtu.be/')) {\n    // It's a video URL - needs manual follow-up\n    creator.platform = 'YouTube (Video)';\n    const videoIdMatch = url.match(/(?:[?&]v=|youtu\\.be\\/)([^&?]+)/);\n    if (videoIdMatch) {\n      creator.name = `YT Video - ${videoIdMatch[1]}`;\n      creator.notes = `⚠️ VIDEO URL CAPTURED\\n\\nTo get the creator info, please:\\n1. Open this video in YouTube\\n2. Click on the channel name\\n3. Share the CHANNEL URL (not video)\\n\\nVideo ID: ${videoIdMatch[1]}\\n` + creator.notes;\n    }\n  } else if (url.includes('/channel/')) {\n    // Channel ID URL\n    const channelIdMatch = url.match(/\\/channel\\/([^\\/\\?]+)/);\n    if (channelIdMatch) {\n      creator.name = `YT Channel - ${channelIdMatch[1].substring(0, 20)}`;\n      creator.notes = `Channel ID: ${channelIdMatch[1]}\\n` + creator.notes;\n    }\n  } else {\n    // Some other YouTube URL\n    creator.name = 'YouTube Link';\n  }\n  \n} else if (url.includes('tiktok.com')) {\n  creator.platform = 'TikTok';\n  creator.contact_method = 'TikTok DM';\n  const handleMatch = url.match(/tiktok\\.com\\/@([^\\/\\?]+)/);\n  if (handleMatch) {\n    creator.name = '@' + handleMatch[1];\n  }\n  \n} else if (url.includes('linkedin.com')) {\n  creator.platform = 'LinkedIn';\n  creator.contact_method = 'LinkedIn Message';\n  \n  // Extract name or company from URL\n  if (url.includes('/in/')) {\n    const nameMatch = url.match(/\\/in\\/([^\\/\\?]+)/);\n    if (nameMatch) {\n      creator.name = nameMatch[1].replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n    }\n  } else if (url.includes('/company/')) {\n    creator.platform = 'LinkedIn (Company)';\n    creator.contact_method = 'LinkedIn Page Message';\n    const companyMatch = url.match(/\\/company\\/([^\\/\\?]+)/);\n    if (companyMatch) {\n      creator.name = companyMatch[1].replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n      creator.company = creator.name;\n    }\n  }\n  \n} else if (url.includes('facebook.com') || url.includes('fb.com')) {\n  creator.platform = 'Facebook';\n  creator.contact_method = 'Facebook Messenger';\n  \n  // Extract page/profile name from URL\n  let nameMatch = url.match(/facebook\\.com\\/([^\\/\\?]+)/);\n  if (nameMatch && nameMatch[1] !== 'profile.php' && nameMatch[1] !== 'www') {\n    creator.name = nameMatch[1].replace(/\\./g, ' ');\n  }\n  \n  if (url.includes('/pages/')) {\n    creator.platform = 'Facebook (Page)';\n  }\n  \n} else {\n  // Article/blog/other\n  creator.platform = 'Article/Blog';\n  creator.contact_method = 'Email';\n  \n  // Use domain as name\n  try {\n    const domain = new URL(url).hostname.replace('www.', '');\n    creator.name = domain;\n  } catch (e) {\n    creator.name = 'Unknown';\n  }\n}\n\n// If no name extracted, use domain\nif (!creator.name) {\n  try {\n    const domain = new URL(url).hostname.replace('www.', '');\n    creator.name = domain;\n    if (creator.platform === 'Article/Blog') {\n      creator.notes = `⚠️ Article/Link captured\\n\\nReview this entry and add:\\n- Author name\\n- Email (if found)\\n- Publication name\\n\\n` + creator.notes;\n    }\n  } catch (e) {\n    creator.name = 'Unknown Link';\n    creator.notes = `⚠️ Could not parse URL\\n` + creator.notes;\n  }\n}\n\nreturn { json: creator };"
      },
      "id": "extract-creator",
      "name": "Extract Creator Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "23d632f5307e8001a1d6fb31be92d59e",
        "title": "={{$json.name}}",
        "properties": {
          "customProperty": [
            {
              "key": "URL",
              "textContent": "={{$json.url}}"
            },
            {
              "key": "Email",
              "textContent": "={{$json.email}}"
            },
            {
              "key": "Company",
              "textContent": "={{$json.company}}"
            },
            {
              "key": "Contact Method",
              "textContent": "={{$json.contact_method}}"
            },
            {
              "key": "Notes",
              "textContent": "={{$json.notes}}"
            },
            {
              "key": "Outreach Status",
              "selectValue": "New Lead"
            },
            {
              "key": "Content Notes",
              "textContent": "={{$json.user_notes}}"
            },
            {
              "key": "Ideation Status",
              "selectValue": "New"
            }
          ]
        }
      },
      "id": "create-crm-entry",
      "name": "Create CRM Entry",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-wos",
          "name": "Notion WOS"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"status\": \"Content added to CRM\", \"name\": \"{{$json.name}}\", \"platform\": \"{{$json.platform}}\", \"contact_method\": \"{{$json.contact_method}}\"}"
      },
      "id": "respond-success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Creator Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Creator Info": {
      "main": [
        [
          {
            "node": "Create CRM Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Entry": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-21T00:00:00.000Z",
  "versionId": "1"
}
