packs/P3.2/WORKFLOWS/creator_capture_v0.json
{
  "name": "Creator Capture v0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wos/intent/creator_capture_v0",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "creator-capture-webhook"
    },
    {
      "parameters": {
        "url": "={{$json.body.url}}",
        "options": {
          "timeout": 30000,
          "redirect": {
            "followRedirects": true
          },
          "ignoreResponseCode": true
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract creator information from page content\nconst webhookData = $('Webhook').item.json;\nconst url = webhookData.body.url;\nconst html = typeof $input.item.json === 'string' ? $input.item.json : JSON.stringify($input.item.json);\n\n// Initialize creator data\nlet creator = {\n  url: url,\n  name: '',\n  email: '',\n  company: '',\n  platform: '',\n  contact_method: 'DM',\n  notes: `Captured from: ${url}`\n};\n\n// Detect platform from URL\nif (url.includes('twitter.com') || url.includes('x.com')) {\n  creator.platform = 'Twitter/X';\n  creator.contact_method = 'Twitter DM';\n  // Extract handle from URL\n  const handleMatch = url.match(/(?:twitter\\.com|x\\.com)\\/([^\\/\\?]+)/);\n  if (handleMatch) {\n    creator.name = '@' + handleMatch[1];\n  }\n} else if (url.includes('instagram.com')) {\n  creator.platform = 'Instagram';\n  creator.contact_method = 'Instagram DM';\n  \n  // Extract handle from URL - matches /username/ or /p/postid/ (for posts)\n  let handleMatch = url.match(/instagram\\.com\\/([a-zA-Z0-9._]+)(?:\\/|\\?|$)/);\n  if (!handleMatch) {\n    handleMatch = url.match(/instagram\\.com\\/p\\/[^\\/]+\\//);\n    if (handleMatch) {\n      // It's a post URL - try to extract username from HTML\n      const userMatch = html.match(/\"username\":\"([^\"]+)\"/);\n      if (userMatch) handleMatch = [null, userMatch[1]];\n    }\n  }\n  \n  if (handleMatch && handleMatch[1] !== 'p' && handleMatch[1] !== 'reel' && handleMatch[1] !== 'stories') {\n    creator.name = '@' + handleMatch[1];\n  }\n  \n  // Try to extract full name from HTML\n  const fullNameMatch = html.match(/\"full_name\":\"([^\"]+)\"/) || html.match(/<meta property=\"og:title\" content=\"([^\"@]+)/);\n  if (fullNameMatch) {\n    const fullName = fullNameMatch[1].replace(/\\s*\\([^)]*\\)\\s*$/g, '').trim();\n    if (fullName && !fullName.includes('Instagram')) {\n      creator.notes = `Full Name: ${fullName}\\n` + creator.notes;\n    }\n  }\n  \n  // Try to extract bio\n  const bioMatch = html.match(/\"biography\":\"([^\"]+)\"/);\n  if (bioMatch) {\n    creator.notes += `\\nBio: ${bioMatch[1]}`;\n  }\n  \n  // Try to extract follower count\n  const followerMatch = html.match(/\"edge_followed_by\":{\"count\":([0-9]+)}/);\n  if (followerMatch) {\n    const count = parseInt(followerMatch[1]);\n    const formatted = count >= 1000000 ? `${(count/1000000).toFixed(1)}M` : count >= 1000 ? `${(count/1000).toFixed(1)}K` : count;\n    creator.notes += `\\nFollowers: ${formatted}`;\n  }\n} else if (url.includes('youtube.com') || url.includes('youtu.be')) {\n  creator.platform = 'YouTube';\n  creator.contact_method = 'YouTube Comment/Email';\n  \n  // Extract channel name from various sources\n  let channelMatch = html.match(/\"author\":\"([^\"]+)\"/) || \n                     html.match(/\"channelName\":\"([^\"]+)\"/) || \n                     html.match(/<meta property=\"og:title\" content=\"([^\"]+)\">/) || \n                     html.match(/<meta name=\"title\" content=\"([^\"]+)\"/);\n  \n  if (channelMatch) {\n    creator.name = channelMatch[1]\n      .replace(' - YouTube', '')\n      .replace(' - Topic', '')\n      .trim();\n  }\n  \n  // Extract channel handle if available\n  const handleMatch = html.match(/\"channelHandle\":\"(@[^\"]+)\"/) || \n                      html.match(/youtube\\.com\\/@([^\\/\\?\"]+)/);\n  if (handleMatch) {\n    const handle = handleMatch[1].startsWith('@') ? handleMatch[1] : '@' + handleMatch[1];\n    creator.notes = `Handle: ${handle}\\n` + creator.notes;\n  }\n  \n  // Extract subscriber count\n  const subMatch = html.match(/\"subscriberCountText\":{[^}]*\"simpleText\":\"([^\"]+)\"/) || \n                   html.match(/([0-9.]+[KMB]?)\\s*subscribers?/);\n  if (subMatch) {\n    creator.notes += `\\nSubscribers: ${subMatch[1]}`;\n  }\n  \n  // Extract channel description\n  const descMatch = html.match(/\"description\":\"([^\"]{20,200})\"/) || \n                    html.match(/<meta property=\"og:description\" content=\"([^\"]+)\"/);\n  if (descMatch && descMatch[1].length > 10) {\n    creator.notes += `\\nAbout: ${descMatch[1].substring(0, 200)}`;\n  }\n  \n  // Detect if it's a video URL vs channel URL\n  if (url.includes('/watch?v=') || url.includes('youtu.be/')) {\n    creator.platform = 'YouTube (Video)';\n    const videoTitleMatch = html.match(/<meta property=\"og:title\" content=\"([^\"]+)\"/);\n    if (videoTitleMatch) {\n      creator.notes = `Video: ${videoTitleMatch[1]}\\n` + creator.notes;\n    }\n  }\n  \n  // Extract channel URL if this is a video\n  const channelUrlMatch = html.match(/\"channelUrl\":\"([^\"]+)\"/) || \n                          html.match(/\"ownerChannelName\":\"([^\"]+)\"/);\n  if (channelUrlMatch && url.includes('/watch')) {\n    creator.notes += `\\nChannel: ${channelUrlMatch[1]}`;\n  }\n} else if (url.includes('tiktok.com')) {\n  creator.platform = 'TikTok';\n  creator.contact_method = 'TikTok DM';\n  const handleMatch = url.match(/tiktok\\.com\\/@([^\\/\\?]+)/);\n  if (handleMatch) {\n    creator.name = '@' + handleMatch[1];\n  }\n} else if (url.includes('linkedin.com')) {\n  creator.platform = 'LinkedIn';\n  creator.contact_method = 'LinkedIn Message';\n  \n  // Extract name from title or meta tags\n  let nameMatch = html.match(/<title>([^<|]+)/);\n  if (nameMatch) {\n    creator.name = nameMatch[1]\n      .replace(' | LinkedIn', '')\n      .replace(' - LinkedIn', '')\n      .replace(/^\\([0-9]+\\)\\s*/, '') // Remove notification count\n      .trim();\n  }\n  \n  // Try alternate name extraction\n  if (!creator.name || creator.name === 'LinkedIn') {\n    const altNameMatch = html.match(/\"name\":\"([^\"]+)\"/) || html.match(/<meta property=\"og:title\" content=\"([^\"]+)\"/);\n    if (altNameMatch) {\n      creator.name = altNameMatch[1].replace(' | LinkedIn', '').trim();\n    }\n  }\n  \n  // Extract headline/title\n  const headlineMatch = html.match(/\"headline\":\"([^\"]+)\"/) || html.match(/<meta property=\"og:description\" content=\"([^\"]+)\"/);\n  if (headlineMatch) {\n    const headline = headlineMatch[1].replace(/\\s*·.*$/, '').trim(); // Remove trailing location\n    if (headline && headline.length < 200) {\n      creator.notes = `Title: ${headline}\\n` + creator.notes;\n    }\n  }\n  \n  // Detect if it's a company page\n  if (url.includes('/company/')) {\n    creator.platform = 'LinkedIn (Company)';\n    creator.contact_method = 'LinkedIn Page Message';\n    creator.company = creator.name;\n  }\n  \n  // Extract connection/follower count if visible\n  const connectionMatch = html.match(/([0-9,]+)\\+?\\s*(?:connections|followers)/);\n  if (connectionMatch) {\n    creator.notes += `\\nConnections: ${connectionMatch[1]}`;\n  }\n} else if (url.includes('facebook.com') || url.includes('fb.com')) {\n  creator.platform = 'Facebook';\n  creator.contact_method = 'Facebook Messenger';\n  \n  // Extract page/profile name from URL\n  let nameMatch = url.match(/facebook\\.com\\/([^\\/\\?]+)/);\n  if (nameMatch && nameMatch[1] !== 'profile.php') {\n    creator.name = nameMatch[1].replace(/\\./g, ' ');\n  }\n  \n  // Try to extract from title\n  const titleMatch = html.match(/<title>([^<|]+)/);\n  if (titleMatch) {\n    const title = titleMatch[1]\n      .replace(' | Facebook', '')\n      .replace(' - Facebook', '')\n      .trim();\n    if (title && title !== 'Facebook') {\n      creator.name = title;\n    }\n  }\n  \n  // Try OG tags\n  if (!creator.name || creator.name === 'www') {\n    const ogMatch = html.match(/<meta property=\"og:title\" content=\"([^\"]+)\"/);\n    if (ogMatch) {\n      creator.name = ogMatch[1].replace(' | Facebook', '').trim();\n    }\n  }\n  \n  // Extract description/about\n  const descMatch = html.match(/<meta property=\"og:description\" content=\"([^\"]+)\"/);\n  if (descMatch && descMatch[1].length < 300) {\n    creator.notes = `About: ${descMatch[1]}\\n` + creator.notes;\n  }\n  \n  // Detect if it's a page vs profile\n  if (url.includes('/pages/')) {\n    creator.platform = 'Facebook (Page)';\n  }\n  \n  // Try to extract follower count\n  const followerMatch = html.match(/([0-9.,]+[KMB]?)\\s*(?:followers|likes)/);\n  if (followerMatch) {\n    creator.notes += `\\nFollowers: ${followerMatch[1]}`;\n  }\n} else {\n  // Article/blog - likely journalist\n  creator.platform = 'Article/Blog';\n  creator.contact_method = 'Email';\n  \n  // Try to extract author name\n  const authorPatterns = [\n    /<meta name=\"author\" content=\"([^\"]+)\">/,\n    /<span class=\"author[^>]*>([^<]+)<\\/span>/,\n    /By ([A-Z][a-z]+ [A-Z][a-z]+)/,\n    /<meta property=\"article:author\" content=\"([^\"]+)\">/\n  ];\n  \n  for (const pattern of authorPatterns) {\n    const match = html.match(pattern);\n    if (match) {\n      creator.name = match[1].trim();\n      break;\n    }\n  }\n  \n  // Try to extract email\n  const emailMatch = html.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\\.[a-zA-Z0-9_-]+)/);\n  if (emailMatch) {\n    creator.email = emailMatch[1];\n  }\n  \n  // Try to extract publication/company\n  const pubMatch = html.match(/<meta property=\"og:site_name\" content=\"([^\"]+)\">/);\n  if (pubMatch) {\n    creator.company = pubMatch[1];\n  }\n}\n\n// If no name extracted, use domain\nif (!creator.name) {\n  const domain = new URL(url).hostname.replace('www.', '');\n  creator.name = domain;\n}\n\nreturn { json: creator };"
      },
      "id": "extract-creator",
      "name": "Extract Creator Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "23d632f5307e8001a1d6fb31be92d59e",
        "title": "={{$json.name}}",
        "properties": {
          "customProperty": [
            {
              "key": "URL",
              "textContent": "={{$json.url}}"
            },
            {
              "key": "Email",
              "textContent": "={{$json.email}}"
            },
            {
              "key": "Company",
              "textContent": "={{$json.company}}"
            },
            {
              "key": "Contact Method",
              "textContent": "={{$json.contact_method}}"
            },
            {
              "key": "Notes",
              "textContent": "={{$json.notes}}"
            },
            {
              "key": "Outreach Status",
              "selectValue": "New Lead"
            }
          ]
        }
      },
      "id": "create-crm-entry",
      "name": "Create CRM Entry",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-wos",
          "name": "Notion WOS"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"status\": \"Creator added to CRM\", \"name\": \"{{$json.name}}\", \"platform\": \"{{$json.platform}}\", \"contact_method\": \"{{$json.contact_method}}\"}"
      },
      "id": "respond-success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Content": {
      "main": [
        [
          {
            "node": "Extract Creator Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Creator Info": {
      "main": [
        [
          {
            "node": "Create CRM Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Entry": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-19T00:00:00.000Z",
  "versionId": "1"
}
